In [44]:
import pandas as pd
from datetime import datetime
pd.options.display.float_format = '{:,.2f}'.format

In [45]:
def get_un_data(un_input_path):
    col_pair = {
        'Aggregate Level': 'int8',
        'Trade Flow Code': 'int8',
        'Reporter Code': 'int16',
        'Partner Code': 'int16',
        'Commodity Code': str,
        'Trade Value (US$)': float
    }

    def parse_col_name(v):
        for char in ['(', ')', '.', '$']:
            v = v.replace(char, '')
        return v.replace(' ', '_').lower()

    def select_necessary_data(df):
        # trade_flow = {1: 'import', 2: 'export'}
        q = ('trade_flow_code == 2 & aggregate_level == 6 & '
             'partner_code == 0')
        needless_cols = ['aggregate_level', 'trade_flow_code']
        return df.query(q).drop(needless_cols, axis=1)\
                          .astype({'commodity_code': str})\
                          .reset_index(drop=True)

    df = pd.read_csv(un_input_path, usecols=[k for k in col_pair], dtype=col_pair)
    df.columns = [parse_col_name(c) for c in df.columns]
    return df.pipe(select_necessary_data)

# Load Files

In [46]:
un_input_path = '/Users/Urien/Desktop/Taitra/1120/type-C_r-ALL_ps-2016_freq-A_px-HS_pub-20170912_fmt-csv_ex-20170928.csv'
country_code = pd.read_excel('./un_country_codes.xls',usecols=['Country Code','Country Name English'])
country_code.columns=['reporter_code','reporter_name']
hs_classes = pd.read_csv('./hscode_v1121.csv', sep=',', encoding='utf-8',dtype={'industry_name': str, 'industry_code': str})

In [10]:
df = get_un_data(un_input_path)

In [49]:
def write_log(_str):
    filename = datetime.now().strftime('%Y%m%d-%H%M%S')
    f = open("./log/log{}.txt".format(filename),"a")
    f.write(str(_str))
    f.close()

def hs_str(hs_list):
    hs_str=[]
    hs_list = hs_list.split(',')
    hs_list = [x.strip(' ') for x in hs_list]
    hs_list = list(filter(None, hs_list))
    for hscode in hs_list:
        if len(str(hscode))<=6:
            hs_str.append(str(hscode))
        else:
            hs_str.append(str(hscode)[:6])
    return list(set(hs_str))

def un_hscode_filter(hs_code_list):
    #宣告pool容器
    pool_df = pd.DataFrame()
    #逐一取出df['commodity_code'] == hscode
    #放入pool_df
    for hscode in hs_code_list:
        hscode = '^{}'.format(hscode)
        pool_df = pool_df.append(df[df['commodity_code'].str.contains(hscode)])
    return pool_df

def get_rank(_df):
    #按報導國GroupBy總金額
    result_df = _df.groupby('reporter_code').sum().sort_values('trade_value_us',ascending=False)

    #獲得排名
    result_df = result_df.reset_index()
    result_df['rank'] = result_df.index +1
    return result_df

def output_grid_data(_df):
    #取得比重
    _df['rate'] = _df['trade_value_us'] / sum(_df['trade_value_us'])
    #取得前三名
    grid_df = _df[:3]
    #加入台灣資料至 grid_df
    grid_df = grid_df.append(_df[_df['reporter_code']==490])
    #對應國家名稱
    grid_df = grid_df.merge(country_code,on='reporter_code')
    #
#     grid_df = grid_df[['reporter_name','rate','rank','trade_value_us']]
    grid_df = grid_df.drop_duplicates('reporter_code')
    return grid_df

def trim_output_format(industry_name,_df):
    #製作 top_3 文字
    text = ''
    for row in _df[:3].itertuples():
        text += '{}({:,.2f}%)  '.format(row.reporter_name,row.rate*100) 
    
    _output_df = _df[_df['reporter_code']==490][['rank','rate','trade_value_us']]
    _output_df['industry_name'] = industry_name
    _output_df['top_3'] = text
    return _output_df

def main_process(industry_name,hs_code_list):
    hs_code_list = hs_str(hs_code_list)
    print('{}\n{}'.format(industry_name,hs_code_list))
    main_df = un_hscode_filter(hs_code_list)
#     print(main_df)
    main_df = get_rank(main_df)
#     print(main_df.head())
    main_df = output_grid_data(main_df)
#     print(main_df.head())
    return trim_output_format(industry_name,main_df)

In [50]:
main_process('LED','85414021,85414029')

LED
['854140']

,rank,rate,trade_value_us,industry_name,top_3
1,2,0.10,"5,093,793,471.00",LED,China(33.12%) Taiwan(10.12%) Malaysia(8.72%)

In [51]:
_df = pd.DataFrame()
for industry in hs_classes.itertuples():
#     print('[{},{}]'.format(industry.industry_name,industry.hscodes))
    _df = _df.append(main_process(industry.industry_name,industry.hscodes))

紡織機械
['8445', '8449', '8447', '8446', '8448', '8444']
橡塑膠機械
['8477']
包裝機械
['8422']
食品機械
['8435', '8434', '8438']
印刷機械
['8442', '8443']
木工機械
['8465']
工具機
['8463', '8458', '8456', '8462', '8460', '8461', '8457', '8459']
航太
['8805', '880220', '8801', '880212', '8803', '880240', '880211', '880230', '8804']
電動車
['871110', '871120', '870410', '870490', '871190', '870323', '871130']
汽配
['840734', '681389', '851130', '853650', '852729', '848310', '902920', '842131', '848180', '850710', '848490', '870891', '902610', '960350', '732010', '392630', '700721', '870892', '700711', '870870', '870840', '401310', '940540', '848350', '870821', '870830', '841330', '848390', '401212', '870895', '902519', '401290', '700910', '842549', '870899', '840999', '401220', '851150', '852721', '870850', '841381', '851230', '842123', '902620', '940120', '851290', '401211', '851240', '854430', '842542', '870829', '903300', '870894', '910400', '870810', '840733', '902910', '830120', '732020', '401110', '681381', '840820', '851140', '851180', '401120', '870893', '870880', '840991', '851110', '851190', '681320', '830230', '841520', '870710', '851120', '731811', '870790', '851220']
扣件
['7318']
五金手工具
['8209', '8202', '8201', '8211', '8206', '846792', '846781', '846729', '8204', '8212', '842420', '8214', '8215', '8213', '846090', '846799', '8210', '846722', '846711', '8208', '846593', '850980', '8205', '846719', '8207', '8203', '846721', '846791', '846789', '850819']
船舶
['890690', '8905', '8901', '8903', '8907', '8904', '8902']
建材
['902580', '731990', '940390', '848790', '847780', '630590', '940540', '401699', '842519', '850490', '720711', '340520', '680421', '820310', '790700', '831000', '820890', '320820', '854190', '731589', '848120', '491199', '848180', '392590', '760810', '761699', '848350', '740821', '392049', '848049', '841290', '731813', '841899', '871680', '841391', '441232', '732393', '842542', '741521', '680510', '680221', '853669', '320810', '391810', '400811', '830110', '392630', '820530', '590390', '940429', '630790', '848190', '890790', '350691', '731819', '903290', '846291', '340319', '847990', '540752', '843139', '846599', '630319', '820299', '850590', '854449', '392329', '761010', '841950', '482110', '391910', '871410', '441011', '392310', '848340', '870899', '853110', '854390', '830241', '846090', '901780', '741533', '841990', '850519', '820770', '741999', '580810', '830250', '930630', '701690', '730792', '871499', '902680', '848280', '842420', '481910', '731816', '846693', '392410', '630392', '741820', '820411', '391000', '560790', '820110', '382440', '851220', '681011', '400821', '902610', '820190', '870840', '901730', '821194', '848079', '730830', '851590', '830890', '701990', '846694', '846221', '741510', '901530', '842430', '850690', '721061', '940190', '820790', '850131', '850151', '820412', '820510', '680919', '841989', '830210', '420229', '870821', '392340', '900490', '851633', '680690', '830260', '731815', '846150', '830140', '390950', '846229', '851770', '852990', '381600', '392350', '844319', '732010', '392210', '940600', '820559', '842511', '821490', '850780', '731829', '950300', '580632', '392112', '850440', '681019', '680300', '731822', '840991', '382490', '721720', '854370', '401693', '853710', '820330', '902000', '760410', '392490', '392290', '820420', '731812', '854470', '441210', '490110', '842890', '830300', '854419', '850431', '741539', '846299', '845150', '481920', '853190', '731824', '690890', '848310', '392190', '854442', '841490', '846249', '441114', '732399', '848490', '720927', '441294', '820130', '820750', '730721', '721924', '691200', '830249', '820520', '732090', '320910', '848210', '852692', '761090', '730890', '700992', '950699', '721710', '630399', '700991', '441299', '961100', '251511', '901890', '830150', '847989', '391740', '830170', '830810', '482390', '800300', '680530', '732599', '701810', '441400', '830590', '731823', '392390', '903300', '843131', '848360', '732020', '732620', '960390', '560749', '846719', '401700', '732619', '761520', '830710', '842121', '901580', '820160', '820340', '848390', '482090', '760429', '830242', '390730', '870829', '853890', '820551', '848140', '721921', '650610', '741220', '900219', '392520', '392119', '940360', '850140', '630612', '848410', '401519', '401691', '854140', '442190', '721070', '391739', '321519', '491110', '401320', '392530', '391729', '850511', '391990', '842489', '320649', '630710', '844399', '853400', '846711', '731940', '842490', '811299', '900311', '732690', '842199', '441231', '730690', '846792', '392690', '741129', '401039', '722300', '820540', '731700', '740829', '841381', '321410', '850110', '420212', '821193', '640690', '321000', '830230', '853690', '820210', '846721', '902910', '721922', '350699', '820320', '621710', '903090', '870870', '721899', '950691', '420292', '442010', '730799', '722011', '680800', '560900', '732490', '830160', '320890', '820570', '251741', '830520', '700800', '321490', '680911', '853650', '830130', '830220', '730729', '731210', '850450', '848299', '820730', '731814', '846692', '680291', '702000', '560750', '681599', '441239', '761610', '850760']
石化產業(化學品)
['292242', '282732', '290376', '291616', '283529', '290110', '292213', '320620', '292212', '282690', '370291', '320415', '293740', '293050', '370210', '330610', '292423', '290339', '291419', '290260', '292310', '294000', '381511', '340213', '293100', '291422', '350290', '293721', '340520', '382550', '330730', '350610', '290382', '280110', '291732', '291590', '281520', '290122', '340391', '290960', '280620', '283330', '320820', '380690', '320210', '290121', '380510', '290722', '290313', '284030', '382475', '290514', '294150', '320413', '290377', '291461', '370310', '290612', '380899', '290230', '330300', '290613', '282580', '282919', '290392', '290522', '300320', '290314', '293719', '290372', '290290', '281121', '380210', '340540', '282530', '291891', '300220', '330112', '291615', '291736', '360200', '380290', '381129', '290729', '282560', '284330', '290723', '300432', '291529', '282570', '300331', '290371', '320110', '320810', '370232', '290539', '290220', '290721', '380992', '381400', '292429', '283691', '291816', '290711', '292320', '370231', '290944', '291300', '350691', '290129', '293349', '370251', '293629', '291411', '290362', '292243', '320416', '294110', '380993', '291733', '280490', '293790', '340319', '330491', '292211', '290943', '290950', '280130', '285200', '291821', '310210', '330590', '292990', '350190', '293963', '300691', '300620', '291899', '290541', '300450', '294200', '281290', '290344', '280410', '290341', '300692', '320419', '321100', '280540', '293911', '330125', '290381', '291737', '283110', '293624', '291219', '293379', '294120', '284210', '284130', '283531', '291819', '293321', '281129', '310230', '290321', '291533', '281530', '291524', '280440', '291990', '292511', '290244', '360100', '293090', '282760', '290920', '310221', '382549', '284910', '293810', '290611', '381210', '290359', '381590', '291412', '370120', '291090', '380620', '340111', '291513', '292512', '350110', '321310', '382430', '281390', '291612', '293628', '282741', '282410', '300340', '291619', '292221', '284329', '281000', '380991', '291539', '292142', '284800', '281122', '291536', '280920', '291818', '293623', '321290', '291030', '310310', '291813', '292529', '380894', '280610', '370191', '350790', '292145', '381230', '284011', '291636', '293369', '282200', '310260', '290811', '382000', '310560', '290399', '381010', '280120', '293621', '283522', '382440', '340399', '293969', '290329', '291611', '282619', '283340', '292143', '290342', '290531', '291720', '291040', '330741', '370199', '293690', '282510', '291020', '292141', '291241', '293712', '280800', '310510', '300310', '370390', '283660', '282720', '290346', '290351', '283525', '291830', '370298', '290242', '293110', '370320', '382311', '330119', '290719', '300440', '291229', '340211', '292011', '293410', '381800', '300120', '310559', '321210', '293220', '290490', '280910', '283650', '290532', '293430', '381700', '330210', '381121', '381300', '285000', '320641', '294130', '290619', '280300', '290323', '291512', '292219', '330129', '290315', '292231', '293944', '382561', '320190', '283630', '300670', '330410', '290545', '283640', '293329', '382313', '340700', '284169', '293299', '282120', '330499', '350710', '381512', '284290', '284920', '340119', '283327', '300230', '284020', '293731', '340420', '320619', '291100', '284150', '291532', '285300', '330620', '292421', '381600', '291230', '282300', '293491', '292700', '291221', '293333', '290349', '284410', '284440', '292130', '284161', '382520', '320611', '310390', '282630', '310551', '293294', '330510', '350400', '293339', '282110', '284690', '320412', '300339', '283620', '291739', '283719', '360500', '290347', '290373', '310430', '283539', '330720', '381090', '281410', '293295', '282590', '382490', '320740', '282990', '283524', '283210', '382530', '292111', '320730', '282759', '290312', '281700', '293949', '381519', '350220', '294190', '320420', '293292', '370510', '293311', '293219', '290516', '350211', '290322', '370243', '291735', '290331', '293729', '293331', '293341', '380190', '310490', '293942', '293739', '330290', '291540', '293943', '281910', '291211', '382600', '281511', '340510', '320720', '292239', '291714', '382319', '291470', '291413', '293500', '300510', '292800', '283711', '382569', '291711', '292521', '290513', '291550', '320710', '340311', '280200', '300431', '292620', '283919', '382473', '291212', '293211', '282490', '293319', '380850', '280450', '292519', '380130', '382410', '290270', '330710', '293354', '281310', '284420', '280530', '310250', '291450', '300660', '293120', '380910', '290949', '291469', '293962', '330113', '283720', '320910', '293291', '293750', '380400', '290543', '290378', '292630', '382460', '340290', '321590', '382478', '290375', '291010', '293711', '382312', '285210', '292149', '291249', '282010', '281610', '290241', '370790', '360300', '291812', '300439', '293020', '300390', '340219', '360490', '330420', '282751', '293221', '370254', '292151', '291560', '290621', '330749', '300610', '382481', '292090', '291614', '290551', '370242', '293361', '283190', '284310', '370294', '292121', '280519', '292610', '290124', '290379', '350219', '291815', '290629', '290420', '290512', '290529', '382100', '290369', '321511', '340530', '350300', '381220', '370293', '281640', '320500', '381119', '282540', '291634', '292411', '283526', '291531', '290544', '293399', '340130', '292424', '380630', '290361', '330130', '310280', '290343', '340120', '284190', '290941', '310420', '285290', '370130', '291823', '282520', '330190', '290311', '291570', '290519', '293030', '290713', '293332', '340212', '340490', '291439', '320490', '350510', '291620', '282749', '283010', '293213', '281990', '290919', '292910', '291910', '284590', '293391', '290352', '284390', '291429', '350520', '293293', '293625', '284321', '290319', '291829', '370244', '293626', '292390', '290892', '291421', '290389', '381900', '290549', '291521', '281420', '284019', '382472', '291431', '291613', '281810', '283090', '293722', '290542', '382541', '320411', '291260', '370610', '310590', '283325', '370590', '370255', '290559', '292244', '330124', '282810', '280429', '291242', '292249', '290712', '321519', '320300', '370710', '310290', '340220', '292159', '382200', '291440', '370297', '330690', '300290', '282090', '290899', '382370', '290819', '293991', '320649', '380590', '291734', '382482', '320120', '292214', '293371', '291511', '382479', '284430', '293999', '290391', '291639', '370239', '282890', '320414', '292129', '293920', '283230', '290715', '291632', '300650', '292229', '370256', '293499', '293723', '293420', '320290', '280470', '283510', '330790', '360410', '370295', '290374', '283911', '281119', '283410', '370241', '370252', '291635', '291250', '293229', '382474', '291713', '293951', '300630', '290911', '300210', '300190', '292019', '282731', '290930', '293355', '321410', '282739', '382471', '380891', '291423', '290243', '380700', '293961', '291712', '382477', '310100', '280480', '281512', '292241', '281830', '321000', '284180', '380120', '282735', '290517', '370400', '380110', '292144', '300640', '380300', '370296', '283311', '284610', '280430', '280469', '350699', '293359', '300410', '283421', '380892', '382450', '292412', '293372', '283699', '294140', '290250', '280511', '291822', '293890', '310229', '382483', '290345', '320650', '291814', '293353', '282911', '290410', '280461', '320417', '330520', '284990', '283220', '380893', '293627', '382476', '330530', '282550', '283990', '283329', '330430', '382510', '284170', '293930', '320890', '292690', '293040', '291719', '310540', '291811', '370253', '292122', '292146', '321490', '281111', '300420', '284700', '293212', '290891', '293622', '290511', '290123', '300590', '320990', '321390', '293352', '340600', '290219', '292119', '320642', '293959', '281820', '280512', '381190', '340590', '382590', '283319', '280700', '310240', '282612', '380610', '291631', '280421', '370690', '293919', '282710', '283322', '292250', '381111', '284450', '293941', '292419', '310520', '281210', '290211', '310530', '360610', '370110', '283429', '283321', '283324', '284510', '293190', '283692', '300490', '360690']

礦業
['251710', '250860', '252100', '261400', '270300', '681140', '681280', '252610', '261800', '250300', '251749', '260112', '252010', '250810', '680423', '680421', '251830', '251020', '252490', '681182', '250610', '681299', '260400', '252910', '252810', '260800', '251512', '681189', '260500', '681011', '681389', '252329', '260111', '262040', '253010', '250900', '270111', '681520', '251730', '681410', '251810', '262190', '681510', '261000', '250410', '252800', '681181', '271020', '253020', '681292', '252921', '270210', '252330', '250200', '680292', '262060', '271312', '250850', '271290', '261900', '253090', '680229', '270112', '252922', '261390', '260300', '251620', '680422', '270720', '681291', '262091', '252520', '680100', '252310', '271099', '270730', '680510', '262011', '252620', '680221', '251690', '271390', '270220', '270799', '252230', '261510', '681320', '260700', '262029', '261100', '261690', '251910', '250700', '251990', '252890', '271410', '251511', '680919', '271011', '260200', '270740', '271019', '680620', '261590', '270791', '271600', '680530', '252210', '681099', '680520', '262021', '251320', '680690', '681490', '261310', '270750', '271114', '270400', '271112', '271210', '271012', '250490', '271113', '271220', '680800', '251611', '251820', '251612', '271320', '252321', '252930', '260120', '270120', '680410', '252220', '271121', '252390', '251741', '680223', '680610', '250830', '251010', '681591', '680293', '270900', '250620', '271091', '262110', '270810', '680911', '251310', '261220', '252530', '251110', '252410', '251520', '261610', '270119', '250870', '261210', '262099', '680430', '262030', '250590', '271500', '681293', '260900', '680790', '271129', '252510', '680710', '262019', '271119', '680210', '250840', '271111', '261790', '270600', '680291', '680299', '251400', '251200', '251720', '270500', '681019', '250510', '680990', '681183', '250100', '271490', '681381', '270820', '261710', '680300', '251120', '681091', '681599', '271311', '252020', '270710', '260600']
積體電路
['8542']
印刷電路
['8534']
安全監控
['847010', '847030', '853190', '853120', '847090', '847029', '847021', '853180', '852580', '853110', '847050']
通訊產品
['851762', '852990', '851712']
光電
['853922', '853949', '853990', '853910', '940540', '940510', '940520', '940530', '853941', '853931', '940550', '853929', '853932', '853950', '853939', '851310', '853921', '851390']
顯示器
['901380', '853120', '901390']
電機
['850163', '850140', '850162', '853710', '850710', '850164', '851440', '850660', '853649', '854470', '850490', '850421', '850161', '853530', '851531', '853090', '854519', '854320', '850730', '850240', '850511', '854419', '854420', '851430', '850431', '853510', '854890', '853190', '850132', '853180', '850212', '851120', '851220', '854442', '851420', '854610', '853641', '853610', '853620', '853661', '853010', '850680', '851590', '850110', '854720', '854790', '850433', '854310', '850213', '853080', '850220', '854460', '851140', '851180', '850690', '850422', '853521', '850120', '853669', '853690', '851410', '854710', '850131', '850151', '851490', '854411', '854590', '851511', '850610', '851150', '850134', '854430', '850750', '853670', '850650', '850520', '853590', '850153', '854690', '854810', '851190', '850720', '850590', '854620', '854520', '850740', '854449', '854330', '850211', '851130', '853650', '850432', '850239', '851521', '851539', '853720', '854511', '850450', '851529', '851210', '851519', '850133', '853110', '850434', '851230', '854390', '850780', '851290', '851580', '851240', '853540', '853890', '853120', '850790', '850440', '850300', '853529', '850630', '850640', '850423', '853630', '850410', '850231', '850519', '851110', '850152', '853810', '854370', '850760']
美粧
['330590', '330610', '330710', '340120', '330510', '330530', '330491', '330499', '330730', '330790', '340111', '330520', '330720', '330420', '330430', '330300', '330410', '340130']
運動用品
['420321', '950710', '620199', '620293', '630691', '950669', '950730', '640411', '630640', '950670', '640319', '620193', '950720', '630720', '950691', '890790', '950632', '621112', '630630', '900490', '630699', '890310', '610130', '950631', '940430', '620192', '950662', '950612', '950629', '621120', '950640', '950490', '950639', '950611', '950659', '950651', '950790', '900410', '901910', '640312', '640212', '621111', '950619', '950661', '950699', '950621', '640219', '950420', '630622', '610230', '620113']
自行車及零配件
['871200', '871496', '401150', '871494', '871495', '871190', '871491', '851210', '871493', '871499', '731511', '871492', '401320']
紡織成衣
['53', '59', '62', '58', '63', '50', '61', '55', '51', '52', '54', '57', '60', '56']
家具
['9403', '9404', '9402', '9401']
燈具
['940520']
嬰兒用品
['620990', '950430', '950300', '611120', '190110', '950410', '640299', '611130', '871500', '611190', '392490', '701399', '950440', '481840', '950490', '611110', '401490', '950590']
珠寶
['442090']
鐘錶
['911440']
鞋
['6402', '6401', '6404', '6405', '6403', '6406']
玩具
['950430', '950300', '950410', '950490', '950440', '950590']
樂器
['92']
製藥
['30']
醫療器材
['9019', '900150', '9402', '9004', '900130', '9021', '3822', '9020', '8713', '871420', '9018', '900140', '9003']
風力發電
['850231']
儲能電池
['850680', '850720', '850690']
LED照明
['854140']
水及污水處理
['848190', '392690', '730640', '841320', '732690', '853190', '853670', '761290', '842121', '730490', '731010', '730690', '731700', '854370', '731029', '842129', '841381', '732490']
固體廢棄物處理
['840219', '846596', '846599', '846291', '761290', '850590', '847990', '840410', '847982']
環境監測系統
['903032', '902790', '902710', '903031', '901580', '902610', '902680', '903010', '902690', '903149', '902620', '903290', '903289', '902750', '903300', '902890', '903180', '903039', '902780', '902730', '903190', '902720']
再生塑膠及其製品
['390799', '392190']

In [52]:
_df

,rank,rate,trade_value_us,industry_name,top_3
3,7,0.03,"368,049,210.00",紡織機械,China(19.87%) Germany(17.69%) Japan(15.39%)
3,6,0.05,"1,033,154,556.00",橡塑膠機械,Germany(24.21%) China(15.23%) Japan(9.51%)
3,16,0.01,"332,137,905.00",包裝機械,Germany(27.46%) Italy(22.24%) China(7.09%)
3,20,0.01,"110,759,808.00",食品機械,Germany(18.07%) Netherlands(14.91%) Italy(14...
3,20,0.01,"463,869,027.00",印刷機械,China(22.31%) Japan(11.66%) Germany(10.95%)
3,4,0.08,"521,798,253.00",木工機械,Germany(25.96%) China(20.06%) Italy(19.50%)
3,5,0.07,"2,897,583,034.00",工具機,Germany(21.14%) Japan(18.29%) Italy(8.44%)
3,23,0.00,"777,919,281.00",航太,France(26.49%) Germany(21.92%) United Kingdo...
3,23,0.00,"1,159,108,916.00",電動車,Germany(19.94%) Japan(19.67%) USA(7.99%)
3,21,0.01,"8,475,607,460.00",汽配,Germany(15.00%) China(11.81%) USA(11.33%)
3,4,0.11,"3,615,361,677.00",扣件,Germany(16.81%) China(14.02%) USA(12.56%)
3,5,0.04,"3,469,543,069.00",五金手工具,China(28.88%) Germany(14.48%) USA(7.56%)
3,18,0.01,"713,442,671.00",船舶,Rep. of Korea(28.88%) China(19.72%) Japan(11...
3,10,0.03,"63,128,753,692.00",建材,China(20.94%) Germany(11.47%) USA(9.37%)
3,17,0.01,"17,180,951,466.00",石化產業(化學品),Germany(12.10%) USA(11.36%) China(7.33%)
3,32,0.01,"11,204,529,888.00",礦業,Russian Federation(10.56%) USA(8.16%) Austra...
1,2,0.15,"78,143,724,164.00",積體電路,"China, Hong Kong SAR(19.57%) Taiwan(15.37%) ..."
2,3,0.12,"4,927,258,642.00",印刷電路,"China(30.47%) China, Hong Kong SAR(22.43%) T..."
3,8,0.04,"2,084,272,353.00",安全監控,China(25.04%) Rep. of Korea(16.62%) USA(6.86...
3,8,0.03,"9,673,344,837.00",通訊產品,"China(43.60%) China, Hong Kong SAR(13.37%) U..."
3,18,0.01,"431,651,273.00",光電,China(57.62%) Germany(7.33%) USA(3.71%)
2,3,0.12,"7,863,781,387.00",顯示器,China(43.04%) Rep. of Korea(23.87%) Taiwan(1...
3,17,0.01,"9,540,181,676.00",電機,China(19.57%) Germany(11.66%) USA(9.60%)
3,23,0.01,"664,088,230.00",美粧,France(15.07%) USA(10.89%) Germany(9.57%)
3,11,0.03,"2,010,063,536.00",運動用品,China(38.74%) Italy(7.37%) Germany(5.43%)
1,2,0.15,"3,583,171,112.00",自行車及零配件,China(34.98%) Taiwan(14.98%) Germany(7.65%)
3,16,0.02,"9,942,606,894.00",紡織成衣,China(38.36%) India(5.37%) Italy(4.83%)
3,22,0.01,"1,587,065,524.00",家具,China(35.26%) Germany(7.76%) Italy(6.71%)
3,11,0.01,"36,766,573.00",燈具,China(67.98%) Germany(5.54%) Italy(4.98%)
3,17,0.01,"724,296,504.00",嬰兒用品,"China(48.00%) China, Hong Kong SAR(5.47%) Ge..."
3,24,0.00,"2,651,695.00",珠寶,"China(40.54%) USA(15.01%) China, Hong Kong S..."
3,23,0.00,497.00,鐘錶,Switzerland(42.22%) China(24.06%) Germany(12...
3,37,0.00,"235,234,824.00",鞋,China(41.79%) Italy(9.43%) Belgium(5.28%)
3,15,0.01,"495,713,145.00",玩具,"China(45.50%) China, Hong Kong SAR(9.53%) US..."
3,8,0.03,"179,754,657.00",樂器,China(26.55%) USA(12.91%) Germany(10.23%)
3,43,0.00,"457,856,755.00",製藥,Germany(16.08%) Switzerland(14.30%) USA(9.99...
3,22,0.01,"1,943,554,750.00",醫療器材,USA(20.60%) Germany(11.47%) Netherlands(8.25...
3,30,0.00,"532,785.00",風力發電,Denmark(41.91%) Germany(29.39%) Spain(15.28%)
3,9,0.03,"197,604,103.00",儲能電池,China(32.22%) USA(14.34%) Germany(8.73%)
1,2,0.10,"5,093,793,471.00",LED照明,China(33.12%) Taiwan(10.12%) Malaysia(8.72%)
3,11,0.03,"4,628,447,831.00",水及污水處理,China(18.43%) Germany(12.06%) USA(11.09%)
3,13,0.02,"649,942,485.00",固體廢棄物處理,Germany(16.04%) USA(9.64%) China(8.10%)
3,19,0.01,"1,485,040,703.00",環境監測系統,Germany(17.39%) USA(16.25%) Japan(9.70%)
3,7,0.05,"990,829,219.00",再生塑膠及其製品,Germany(15.85%) USA(10.14%) Japan(7.87%)

In [53]:
_df.to_excel('./祐任運算_1121v3-1.xlsx')

In [267]:
_df[_df['reporter_code']==490].sort_values('commodity_code')

        reporter_code  partner_code commodity_code  trade_value_us
195508            490             0         251511    7.656530e+05
195517            490             0         251741    3.873280e+05
196070            490             0         320649    4.109900e+07
196076            490             0         320810    1.531136e+07
196077            490             0         320820    3.301817e+07
196078            490             0         320890    6.623436e+07
196079            490             0         320910    6.823056e+06
196081            490             0         321000    4.487546e+07
196087            490             0         321410    1.735636e+07
196088            490             0         321490    6.329321e+06
196090            490             0         321519    1.041132e+08
196132            490             0         340319    3.557526e+07
196138            490             0         340520    5.616220e+05
196155            490             0         350691    2.627876e+08
196156            490             0         350699    1.721457e+08
196228            490             0         381600    2.122287e+07
196242            490             0         382440    4.770698e+06
196253            490             0         382490    9.039444e+08
196288            490             0         390730    4.651038e+08
196301            490             0         390950    2.833110e+08
196302            490             0         391000    8.415833e+07
196325            490             0         391729    8.296037e+06
196329            490             0         391739    5.074122e+07
196330            490             0         391740    5.751070e+07
196331            490             0         391810    6.644416e+07
196333            490             0         391910    1.382367e+08
196334            490             0         391990    5.920304e+08
196339            490             0         392049    1.497551e+08
196355            490             0         392112    3.806988e+07
196358            490             0         392119    2.242151e+07
...               ...           ...            ...             ...
199102            490             0         871680    4.195263e+07
199129            490             0         890790    4.717090e+06
199137            490             0         900219    1.484430e+09
199140            490             0         900311    3.433955e+06
199144            490             0         900490    2.721248e+08
199182            490             0         901530    1.202296e+07
199184            490             0         901580    1.848374e+07
199189            490             0         901730    6.334722e+06
199190            490             0         901780    1.956644e+07
199204            490             0         901890    2.479961e+08
199207            490             0         902000    2.846206e+07
199229            490             0         902580    9.917363e+06
199231            490             0         902610    1.525750e+07
199233            490             0         902680    4.849427e+07
199245            490             0         902910    5.441615e+06
199258            490             0         903090    3.373457e+08
199269            490             0         903290    1.915031e+07
199270            490             0         903300    7.622277e+07
199343            490             0         930630    1.913665e+07
199356            490             0         940190    1.762834e+08
199364            490             0         940360    1.004379e+08
199368            490             0         940390    2.217934e+08
199371            490             0         940429    9.328487e+06
199377            490             0         940540    2.312878e+08
199383            490             0         940600    6.539467e+06
199384            490             0         950300    3.110836e+08
199407            490             0         950691    7.904307e+08
199408            490             0         950699    2.501882e+08
199423            490             0         960390    2.937693e+07
199446            490             0         961100    2.332980e+07

[362 rows x 4 columns]

In [239]:
_df[_df['reporter_code']==490]['trade_value_us'].sum()

713442671.0

In [201]:
result_df[result_df['reporter_code'] == 490]

    reporter_code  partner_code  trade_value_us  rank
17            490             0     713442671.0    18

In [137]:
##test


# for hscode in hscodelist:
#     _df = pd.DataFrame()
#     query_df = df[df.commodity_code.str.contains('^'+hscode)]
#     _df = _df.append(query_df)
#     print(_df.head())
#     fin_df = pd.DataFrame()
#     country_code.columns=['reporter_code','reporter_name']
#     result_df = _df.groupby('reporter_code').sum()
#     result_df = result_df.sort_values('trade_value_us',ascending=False).reset_index()
#     fin_df = fin_df.append(result_df[:3])
#     fin_df = fin_df.append(result_df[result_df['reporter_code'] == 490]).reset_index()
#     fin_df = fin_df.merge(country_code,on='reporter_code'); fin_df
#     fin_df['index'] = fin_df['index'] +1 

# # top_country = '\n{}\n {},{},{}\n'.format(hs_list,fin_df['reporter_name'][0],fin_df['reporter_name'][1],fin_df['reporter_name'][2])
# # top_country =top_country+str(fin_df[fin_df['reporter_code']==490][['index','trade_value_us']])
# print(fin_df)

In [138]:
for hs_grid in hs_classes['hscodes']:
    _df = pd.DataFrame()
#     print(hs_grid)
    hs_list=hs_str(hs_grid)
    print(hs_list)
    f = open("test1820.txt","a") #opens file with name of "test.txt"
    for hscode in hs_list:
        query_df = df[df.commodity_code.str.contains('^'+hscode)]
        _df = _df.append(query_df)
#         print(_df.info())
    fin_df = pd.DataFrame()
    country_code.columns=['reporter_code','reporter_name']
    result_df = _df.groupby('reporter_code').sum()
    result_df = result_df.sort_values('trade_value_us',ascending=False).reset_index()
    fin_df = fin_df.append(result_df[:3])
    fin_df = fin_df.append(result_df[result_df['reporter_code'] == 490]).reset_index()
    fin_df = fin_df.merge(country_code,on='reporter_code'); fin_df
    fin_df['index'] = fin_df['index'] +1 
    
    top_country = '\n{}\n {},{},{}\n'.format(hs_list,fin_df['reporter_name'][0],fin_df['reporter_name'][1],fin_df['reporter_name'][2])
    top_country =top_country+str(fin_df[fin_df['reporter_code']==490][['index','trade_value_us']])
    f.write(top_country)
    f.close()

['8445', '8447', '8449', '8448', '8446', '8444']
['8477']
['8422']
['8434', '8435', '8438']
['8443', '8442']
['8465']
['8461', '8458', '8456', '8463', '8457', '8462', '8460', '8459']
['8803', '8805', '880212', '880240', '8804', '880220', '880230', '8801', '880211']
['871130', '871120', '870490', '870410', '871110', '871190', '870323']
['870850', '401211', '851240', '848350', '851140', '870821', '848490', '851120', '902620', '870895', '401110', '842131', '700721', '848390', '851190', '401220', '840999', '841330', '830230', '851110', '851290', '870710', '870810', '870892', '700711', '731811', '830120', '841381', '848310', '870790', '850710', '848180', '910400', '870829', '853650', '401120', '732010', '840733', '681389', '870830', '870840', '902610', '732020', '851150', '902920', '870899', '681320', '851130', '842123', '851230', '940540', '401290', '401310', '841520', '854430', '392630', '842549', '903300', '840734', '840991', '851220', '902519', '852729', '940120', '870891', '681381', '842542', '840820', '870880', '870870', '700910', '870893', '401212', '851180', '870894', '852721', '902910', '960350']
['7318']
['846791', '8208', '850819', '8205', '8213', '8209', '8210', '846799', '846722', '846792', '842420', '846593', '8203', '8204', '8211', '8215', '846789', '846090', '846729', '846781', '8206', '8214', '850980', '8202', '8207', '8212', '846721', '846711', '8201', '846719']
['89']
['321490', '420212', '854470', '940190', '400811', '850131', '392329', '830110', '730721', '481920', '680421', '731812', '731816', '830130', '722011', '820210', '630790', '820299', '730890', '903300', '721922', '950691', '850140', '681599', '811299', '391739', '851770', '732599', '854390', '846721', '391910', '340520', '721720', '850690', '850780', '848490', '381600', '392490', '251741', '848049', '761610', '441400', '940600', '732020', '761699', '843131', '843139', '391000', '560900', '830250', '848079', '680919', '820570', '847780', '820310', '830230', '732399', '830220', '830300', '350691', '820330', '630392', '392210', '842519', '741129', '680911', '844319', '441294', '842430', '392310', '842511', '842489', '847990', '761090', '680510', '853110', '691200', '741539', '621710', '841990', '320649', '392049', '721924', '871410', '900219', '731814', '740829', '850431', '902610', '392119', '950699', '846249', '830520', '850110', '320910', '761520', '940540', '930630', '741220', '900490', '820130', '890790', '350699', '841899', '841391', '848210', '821193', '850490', '830242', '846719', '320810', '401320', '940390', '820790', '731940', '820540', '830210', '732690', '830150', '870829', '940429', '842890', '441239', '820412', '722300', '901730', '830170', '840991', '820190', '491199', '702000', '820340', '830810', '848350', '830140', '902000', '820559', '441232', '731822', '391729', '442010', '852692', '680690', '820750', '830260', '790700', '400821', '401700', '846692', '731589', '630612', '731829', '340319', '732393', '846229', '741521', '731813', '848410', '850590', '251511', '741533', '320890', '846299', '850519', '760810', '420229', '846090', '482390', '442190', '844399', '580632', '392520', '870870', '800300', '854140', '853710', '732490', '580810', '820411', '848180', '903290', '382490', '321000', '841989', '700992', '846693', '820420', '760410', '847989', '871499', '630710', '741820', '441210', '700800', '721710', '902580', '853400', '701690', '851590', '731700', '391740', '831000', '820770', '820530', '846792', '732010', '870840', '842420', '901580', '853890', '870899', '540752', '650610', '854442', '820160', '852990', '871680', '482110', '820110', '846711', '848190', '848790', '870821', '720927', '741510', '730799', '848120', '848310', '902680', '853650', '392390', '382440', '853669', '853690', '732090', '392340', '730729', '560790', '846150', '851220', '721061', '902910', '850440', '640690', '820520', '854449', '482090', '392190', '630399', '731990', '901890', '820551', '401693', '392410', '441114', '392350', '830710', '730690', '854419', '441299', '841381', '820510', '700991', '846221', '731823', '560750', '590390', '392690', '842121', '491110', '740821', '760429', '820320', '848140', '842490', '392290', '846291', '821194', '940360', '848299', '850760', '841490', '901780', '950300', '848390', '731210', '401039', '391990', '761010', '842199', '321519', '848280', '848360', '732620', '830590', '680800', '392630', '830160', '392590', '701990', '850450', '731815', '321410', '441231', '390950', '820890', '680300', '401519', '630319', '854190', '721070', '680221', '391810', '730792', '481910', '681011', '490110', '900311', '853190', '731819', '842542', '680530', '401699', '845150', '846599', '841290', '830890', '320820', '720711', '441011', '560749', '841950', '721899', '830241', '701810', '392530', '420292', '903090', '850511', '854370', '821490', '731824', '961100', '392112', '721921', '680291', '848340', '741999', '401691', '732619', '681019', '820730', '851633', '960390', '846694', '901530', '850151', '690890', '830249', '730830', '390730', '630590']
['3902', '2922', '2908', '4004', '3918', '2917', '2925', '3908', '3903', '55', '2910', '3906', '2902', '4005', '3909', '430400', '3904', '3907', '3905', '2924', '2909', '2927', '4001', '2930', '2904', '2919', '4006', '2933', '3913', '2912', '3911', '2932', '4002', '3919', '2711', '2907', '4007', '2935', '2903', '3910', '2915', '3920', '2931', '2914', '2923', '3916', '3921', '2911', '4003', '3914', '2916', '2928', '2929', '4008', '2921', '2906', '54', '2926', '2934', '2920', '2918', '2905', '2913', '3912', '2901']
['261610', '262099', '271020', '680610', '250840', '251120', '261100', '261690', '680710', '252520', '251730', '260800', '271114', '262011', '251520', '681140', '252800', '271220', '261900', '680421', '252410', '252910', '261800', '250610', '261390', '261590', '271320', '680790', '681299', '681293', '681181', '681320', '270820', '271490', '252810', '680800', '681292', '251310', '252329', '251830', '681599', '252530', '252921', '252922', '270900', '270720', '253010', '252490', '251720', '261210', '271410', '271290', '680300', '262091', '261710', '252390', '252100', '262021', '271119', '251741', '250900', '251611', '680990', '680292', '261400', '680221', '271111', '680690', '262060', '270300', '681280', '260400', '681011', '681591', '251910', '250200', '271099', '260300', '262019', '252310', '271091', '252321', '261510', '251010', '681091', '271113', '271129', '250300', '252890', '260200', '260111', '680430', '680530', '681520', '251020', '680229', '251512', '680919', '261000', '260900', '251400', '680422', '681510', '250870', '262190', '271011', '271600', '680410', '251749', '252620', '270400', '261220', '680423', '680299', '252210', '262029', '251511', '261790', '680223', '250100', '250490', '271112', '251612', '250590', '260700', '681291', '252330', '251710', '681410', '680520', '680210', '270500', '680911', '252510', '262110', '680293', '250510', '250850', '251620', '681182', '681099', '251820', '681183', '252230', '270119', '260112', '680510', '253090', '261310', '680100', '252930', '680291', '270210', '250700', '271311', '251320', '271012', '270810', '252010', '250620', '252220', '270710', '681189', '270112', '251810', '252020', '681019', '262040', '270111', '681490', '681389', '250810', '250410', '250860', '270799', '250830', '260500', '271210', '271390', '270791', '270120', '251200', '251990', '260600', '271019', '271500', '270740', '262030', '270730', '251690', '681381', '253020', '270220', '252610', '270600', '270750', '271312', '260120', '251110', '271121', '680620']
['8542']
['8534']
['852580', '853180', '847021', '847050', '847090', '853120', '853110', '847030', '847029', '853190', '847010']
['851762', '851712', '852990']
['851390', '853939', '853949', '851310', '853950', '853932', '853941', '853910', '853990', '940540', '853929', '940550', '940510', '940530', '940520', '853922', '853921', '853931']
['9010', '9004', '8531', '9009', '9005', '9011', '9001', '9002', '9012', '9003', '9006', '9013', '9007', '9008']
['850434', '854470', '850161', '850630', '853080', '854710', '850131', '851590', '850520', '853090', '851521', '854519', '853010', '850162', '853530', '851531', '851430', '853890', '850211', '850432', '850140', '854442', '850450', '850152', '854390', '854590', '850690', '851511', '854890', '853720', '850780', '851190', '854330', '854320', '850423', '853630', '853180', '850660', '853529', '850212', '853650', '854620', '850790', '850164', '850640', '851150', '853669', '853690', '854430', '853810', '853649', '850680', '853190', '851220', '853521', '850440', '851490', '851180', '850421', '851580', '853120', '850300', '850610', '851120', '853641', '850650', '853670', '850220', '851290', '850132', '851110', '850239', '854449', '854411', '850590', '854610', '850740', '854310', '850240', '854520', '851519', '850511', '854370', '850410', '853661', '850519', '851210', '850720', '850750', '850133', '850231', '853540', '853620', '853610', '854790', '853110', '851440', '851240', '851410', '851140', '850730', '854419', '850120', '853710', '850153', '851529', '854690', '850433', '850710', '853590', '850134', '854460', '850163', '851420', '850431', '853510', '854511', '850110', '851230', '851130', '854420', '854810', '850151', '850422', '850490', '851539', '854720', '850213', '850760']

['330710', '330430', '330491', '330530', '340120', '330720', '340111', '330730', '330590', '330510', '330610', '330790', '330499', '330300', '330520', '330410', '340130', '330420']
['621111', '950640', '950790', '950662', '621120', '950661', '630640', '620293', '630699', '950629', '620193', '950611', '950670', '640219', '890310', '950710', '950720', '620199', '950612', '950632', '950730', '620113', '640411', '950699', '950420', '630720', '630691', '950490', '940430', '640212', '950619', '950669', '640312', '620192', '950659', '900490', '621112', '610130', '950691', '900410', '640319', '890790', '950621', '630630', '950631', '610230', '950639', '901910', '420321', '950651', '630622']
['401320', '871499', '871494', '871495', '871491', '871492', '731511', '851210', '871200', '871496', '871190', '401150', '871493']
['50', '62', '61', '52', '53', '59', '55', '54', '63', '51', '58', '60', '57', '56']
['9402', '9403', '9401', '9404']
['940520']
['950430', '640299', '611130', '950490', '950410', '620990', '871500', '611120', '481840', '950300', '611190', '950440', '190110', '701399', '401490', '392490', '611110', '950590']
['442090']
['911440']
['6402', '6404', '6406', '6403', '6405', '6401']
['950490', '950410', '950300', '950440', '950430', '950590']
['92']
['30']
['9402', '9004', '9018', '3822', '9021', '8713', '9020', '900150', '900130', '9003', '9019', '871420', '900140']
['850231']
['850690', '850680', '850720']
['854140']
['730490', '842129', '730690', '731029', '731700', '732690', '841320', '841381', '842121', '848190', '853670', '854370', '730640', '761290', '731010', '732490', '853190', '392690']
['840219', '846596', '846599', '846291', '840410', '847982', '847990', '850590', '761290']
['902780', '903180', '903010', '902890', '902620', '902690', '903031', '902750', '902730', '902790', '903149', '902680', '903039', '903289', '903290', '901580', '903190', '902610', '902720', '903300', '903032', '902710']
['392190', '390799']

In [89]:

fin_df

   index  reporter_code  partner_code  trade_value_us    reporter_name
0      1            156             0    3.758383e+12            China
1      2            842             0    2.324422e+12              USA
2      3            276             0    2.316974e+12          Germany
3     15            490             0    5.511983e+11  Other Asia, nes